@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand";
}

:root {
    /* for color */
    --primaryClr: #fea301;
    --secondaryClr: #01ACFD;
    --blackClr:#111111;
    --whiteClr: #fff;
    --grayClr: #808080;
    --purpleClr: #8700ff;
    --pasteClr: #3cd8e8;
    --BgClr: #f7f7f7;
    --blueClr : #5d58f0;
    --slateClr : #95b226;
    /* box shadow color */
    --boxShadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    /* for background color */
    --boxBg1: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    --boxBg2:  linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    --boxBg3:  linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}           




/* sheared styles  */
.bg-primary{
    background-color: var(--primaryClr);
}
.bg-secondary {
    background-color: var(--secondaryClr);
}
.bg-black {
    background-color: var(--blackClr);
}
.bg-facebook {
    background-color: rgb(59, 89, 152);
}
.bg-drible {
    background-color:rgb(234, 76, 137) ;
}
.bg-twitter {
    background-color: rgb(29, 161, 242);
}
.bg-google {
    background-color: rgb(221, 75, 57);
}
.bg-blue {
    background-color: var(--blueClr);
}
.bg-slate{
    background-color: var(--slateClr);
}
.bg-paste {
    background-color: var(--pasteClr);
}
.text-primary {
    color: var(--primaryClr);
}
.text-secondary {
    color: var(--secondaryClr);
}
.text-purple {
    color: var(--purpleClr);
}
.text-blue {
    color: var(--blueClr);
}
.text-paste {
    color: var(--pasteClr);
}
.my-24 {
    margin: 24px 0px;
}

.navbar, .banner-area, .curriculum-area, .ourStories ,
.footerContent{
    max-width: 1280px;
    margin: 0 auto;
}
footer, .containedBtn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar , .navleft, .navLinks, .banner-area,
.curriculumBoxCtn, .curriculum-area, .navigationIcon,
.box, .content, .ourStories, .storyCard, .storyContent, 
.footerContent, .footLogoCtn, .leftFoot, .footLinks, 
 .rightFoot ,.footIcons {
    display: flex;
    align-items: center;
}

.curriculum-area, .box , .content, .ourStories, .storyCard,
 .storyContent, .leftFoot, .footLinks, .rightFoot{
    flex-direction: column;
}
.navbar, .footerContent {
    justify-content: space-between;
}
.footLinks, .leftFoot, .rightFoot, .footerContent, .storyContent {
    align-items: start;
}

.curriculum-area, .ourStories {
    gap: 80px;
}
.banner-area {
    gap: 50px;
}
.navLinks , .curriculumBoxCtn, .box, .storyCard,
.storyContent{
    gap: 30px;
}
.content, .leftFoot , .rightFoot{
    gap: 1.25rem;
}
.navleft, .navigationIcon , .footLogoCtn, .footLinks, .footIcons{
    gap: 10px;
}
.navbar {
    padding: 20px 10px;
}
.navLinks {
    font-size:1.25rem;
}
.menuBar, .containedBtn, .readBtn, .iconCtn {
    cursor: pointer;
}

.heroTitle  , .title , .readBtn{
    font-weight: 800;
}
.containedBtn, .heroPara {
    font-size: clamp(0.8rem, calc(1.25vw + 0.5rem), 1.25rem);
}

.banner-area{
    padding: 10px;
}
.box {
    padding: 50px 20px;
}
.content {
    text-align: center;
}
.containedBtn , .readBtn {
    outline: none;
    border: none;
}
.storyImg , .readBtn, .containedBtn {
    position: relative;
}


/* you nick styles */
header {
    width: 100%;
}
.navLinks > li , .footLinks > li {
    list-style: none;
}
.navLinks >li > a , .footLinks > li > a{
    text-decoration: none;
}


.brand {
    font-size: 2rem;
    font-weight: 800;
}
.containedBtn {
    padding: 20px 40px;
    color: white;
    border-radius: 12px;
}
.menuBar {
    display: none;
}
.menuBar > i {
    font-size: 1.5rem;
    font-weight: bold;
}
.bannerContent, .bannerImg {
    width: calc((100% - 50px) / 2);
}
.bannerContent {
    max-width: 640px;
}
.heroTitle {
    font-size: clamp(2rem, calc(4.5vw + 0.5rem ), 3.85rem);  
}
.title {
    font-size:clamp(1.8rem, calc(3vw + 1rem), 3rem) ;
}
.subtitle {
    font-size: clamp(1rem, calc(1vw + 0.5rem), 1.5rem);
}
.footTitle {
    font-size: clamp(2.25rem, calc(4.5vw + 0.5rem ), 3.85rem);
    line-height: clamp(2rem, calc(4.5vw + 0.5rem ), 3.85rem);
}
.paragraph {
    font-size: clamp(0.6rem , calc(1vw + 0.5rem), 1rem);
    color:var(--grayClr) ;
}

.curriculum-area , .ourStories{
    padding: 60px 20px;
}
.navigationIcon  button {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
}
.box {
    box-shadow: var(--boxShadow);
    border-radius: 18px;
}
#box-1 {
    background: var(--boxBg1);
}
#box-2 {
    background: var(--boxBg2);
}
#box-3 {
    background: var(--boxBg3);
}
.readBtn {
    background: transparent;
}
#card-1 {
    grid-area: card1;
    position: relative;
}
#card-2 {
    grid-area: card2;
}
#card-3 {
    grid-area: card3;
}
#card-4 {
    grid-area: card4;
}
#card-5 {
    grid-area: card5;
}
.storyBoxCtn {
    display: grid;
    gap: 20px;
   
    grid-template-areas: 
    "card1 card1 card2 card3"
    "card1 card1 card4 card5"
    ;
}

.OurStorieswithYou {
    background: url(assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
}
.storyCard {
    height: 100%;
    background-color: var(--whiteClr);
    border-radius: 20px;
}
.storyImg{
    width: 100%;
}
.storyImg > img  {
    border-radius: 20px 20px 0px 0px;
}
.storyContent {
    padding: 0px 20px 20px 20px;
}

footer {
    height: 600px;
    background-color: var(--secondaryClr);
    color: white;
}

.leftFoot {
    max-width: 400px;
}
.footerContent {
    width: 100%;
    padding: 0px 20px;
}
.footLogoCtn > img {
    width: 120px;
}
.footLinks > li > a {
    font-size: clamp(0.7rem , calc(1vw + 0.5rem ), 1.25rem);
    color: var(--whiteClr);
}
.paragraphFoot {
    color: rgb(255, 255, 255, 0.7);
}
.iconCtn {
    padding: 10px;
    border-radius: 8px; 
}
marquee {
    color: red;
}
.paragraph , .date{
    font-family: "Raleway";
}
/* .date-1 {
    position: absolute;
    padding: 0px 20px;
    border-radius: 20px;
    background-color: var(--secondaryClr);
    color: var(--whiteClr);
    font-weight: bold;
    bottom: 0%;
    left: 5%;
    z-index: 1;
} */
.date {
    position: absolute;
    padding: 10px 20px;
    border-radius: 20px;
    color: var(--whiteClr);
    font-weight: bold;
    bottom: calc(0% - 10px);
    left: 5%;
    font-size: clamp(10px , calc(1vw + 0.5rem), 1rem);
    z-index: 1;
}
.containedBtn:active, .readBtn:active, .iconCtn:active {
    transform: scale(0.9);
}

/* some button animation or transition */
.readBtn {
    z-index: 0;
    padding: 5px 10px;
   
}
.readBtn::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: 0;
    background-color: var(--primaryClr);
    z-index: -1;
    transition: width 0.5s linear;

}
.readBtn:hover {
    color: var(--whiteClr);
    transition: color 0.3s linear;
}
.readBtn:hover::after {
    width: 100%; 
}

.containedBtn::after{
    content: "";
    height: 100%;
    width: 100%;
    position:absolute;
    background-color: var(--secondaryColor);
    z-index: -1;
    top: 0;
    left: 0;
    border-radius: 12px;
    
}
.containedBtn::before{
    content: "";
    background:linear-gradient(
        45deg, 
        #E02C6D, #E53A5B, #E94949, #EE5737, #F26524, #F77412, #FB8200, #e02c6d
    ) ;
    position: absolute;
    background-size: 600%;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    z-index: -1;
    border-radius: 12px;
    filter: blur(20px);
    animation: glowing 10s  linear infinite  ;
    opacity: 0;
}
.containedBtn:hover::before{
    opacity: 1;
}
.containedBtn:active:after {
    background-color: var(--secondaryClr);

}

@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}



/* responsive code for mobile */
@media screen and (max-width: 576px) {
    .navLinks, .navRight, .navigationIcon, .brand {
        display: none;
    }

    .menuBar{
        display: block;
    }

    .navbar {
        border-bottom: 1px solid var(--primaryClr);
    }
    .banner-area {
        flex-direction: column-reverse;
    }
    .bannerContent, .bannerImg {
        width: 100%;
    }
    .curriculum-area, .ourStories {
        padding: 30px 20px;
    }
    .curriculum-area, .ourStories, .footerContent {
        gap: 30px;
    }   
    .bannerContent {
        display: flex;
        align-items: center;
    }
    .curriculumBoxCtn, .footerContent, .bannerContent {
        flex-direction: column;
    }
    
    .bannerContent {
        text-align: center;
    }
    .banner-area {
        padding: 20px;
    }
    #card-1{
        display: none;
    }
    .storyBoxCtn {
        display: grid;
        gap: 20px;
       
        grid-template-areas: 
        "  card2 card3"
        "  card4 card5"
        ;
    }
    .storyCard {
        gap: 15px;
        border-radius: 10px;
    }
    .storyImg > img {
        border-radius: 10px 10px 0px 0px;
    }
    .storyContent {
        padding: 0px 10px 10px 10px;
    }
   .footLogoCtn > img {
    width: 100%;
   }
   .date {
    padding: 5px 10px;

   }
   .my-24 {
    margin: 15px 0px;
   }
    /* .bannerImg > img {
        width: calc(100% - 40px);
    } */
}